@import 'styles/utils/breakpoints';
@import 'styles/mixins/flex';

// prettier-ignore
.component {
  ul {
    color: white;
    font-family: sans-serif;
    padding: 0 0 0 1.25em;
  }

  ul > li + li {
    margin-top: 0.465em;
  }

  li {
    position: relative;
  }

  strong {
    color: #fff649;
    margin: 0 0.25em 0 0;
    top: 0;
  }

  span {
    color: white;
  }

  a {
    color: white;
    cursor: pointer;
    text-decoration: underline;
  }

  a:hover, a:focus {
    text-decoration: none;
  }
}

.uppercase {
  text-transform: uppercase;
}

.icon__wrapper {
  position: relative;

  & > span {
    margin-left: 30px;
  }
}

.card__type__image {
  height: 22px;
  position: absolute;
  bottom: -1px;
  image-rendering: pixelated;
}

.card__rarity__gem {
  height: 28px;
  position: absolute;
  bottom: -3px;
  left: -1px;
  image-rendering: pixelated;
}

.description {
  color: white;
  margin: 0.875em auto 0;
}

// prettier-ignore
.entourage__card__wrapper {
  margin: 1.25em auto 0;
  width: 100%;
  @include display-flex(column nowrap, center, flex-start);
  @include breakpoint('large') { flex-flow: row nowrap; }
}

// prettier-ignore
.entourage__card {
  & + .entourage__card {
    margin: 20px auto 0;
    @include breakpoint('large') { margin: 0 0 0 20px; }
  }

  & > div {
    --card-height: 300px;
    @include breakpoint('xsmall') { --card-height: 340px; }
    @include breakpoint('large') { --card-height: 240px; margin-left: 0; }
    @include breakpoint('xlarge') { --card-height: 300px; }
  }
}

.entourage__info {
  color: white;
}
