.component {
  $divide: 3;
  bottom: calc(var(--minion-height) / -7.071428571);
  height: calc(var(--minion-height) / #{$divide});
  left: 0;
  margin: 0 auto;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: calc(var(--minion-height) / #{$divide});
  z-index: 2;

  & > img {
    width: 100%;
    image-rendering: pixelated;
  }
}
