@import 'styles/utils/breakpoints';

// prettier-ignore
.component {
  // margin: -25.375rem auto 30px;
  margin: 0 auto;
  // @include breakpoint('medium') { margin: -15.625rem auto 0; }
  max-width: 840px;
  padding: 20px;
  position: relative;
}

// prettier-ignore
.lore {
  color: rgba(255, 255, 255, 0.85);
  cursor: default;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.45;
  text-align: center;

  p:first-child { margin-top: 0; }
  p:last-child  { margin-bottom: 0; }
}
