@import 'styles/utils/breakpoints';

// prettier-ignore
.component {
  // margin: -25.375rem auto 30px;
  margin: 0 auto;
  // @include breakpoint('medium') { margin: -15.625rem auto 0; }
  max-width: 740px;
  padding: 20px;
  position: relative;
}

// prettier-ignore
.lore {
  color: rgba(255, 255, 255, 0.85);
  cursor: default;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.45;
  text-align: center;

  p:first-child {
    font-size: 1.675em;
    line-height: 1.5;
    font-weight: 300;
  }

  p { font-size: 1em; }
  p:first-child { margin-top: 0; }
  p:last-child  { margin-bottom: 0; }
}
