.page__heros {
  background: repeat url(/images/site/binding_dark.jpg) 0 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  min-height: calc(100vh - var(--site-header-height));
  padding: 0 0 100px;
  width: 100vw;

  .container {
    min-height: 40vh;
  }

  h1 {
    text-transform: uppercase;
  }

  // prettier-ignore
  h1 > span:nth-child(1) {
    display: block;
    font-size: 1rem;
    @include breakpoint('medium') { font-size: 1.25rem; }
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0 0 0.45em;
  }

  // prettier-ignore
  h1 > span:nth-child(2) {
    display: block;
    font-size: 64px;
    @include breakpoint('medium') { font-size: 140px; }
    line-height: 0.85;
    letter-spacing: 0.03em;
  }

  p {
    box-sizing: content-box;
    font-size: 0.875rem;
    letter-spacing: 0.015em;
    line-height: 1.6;
    margin: 12px auto 0px;
    max-width: 460px;
    padding: 0px 10%;
    text-align: center;
  }
}

.page__heros .card__grid {
  overflow: visible !important;
}

.page__heros .hero {
  font-size: 1.65em;
  padding: 2em 0;
  text-align: center;

  @include breakpoint('medium') {
    font-size: 2.65em;
  }

  h1 {
    margin: 0;
  }
}

// prettier-ignore
.page__heros .hero__item {
  --card-height: 200px;
  @include breakpoint('medium') { --card-height: 400px; }
}

.page__heros .hero__item {
  height: var(--card-height);
  width: calc(var(--card-height) / 1.400266051);
  display: block;
  text-decoration: none;
  @include display-flex(column nowrap, center, center);

  span {
    display: block;
  }

  .hero__image__loader {
    background: #222;
  }

  // prettier-ignore
  .hero__image,
  .hero__image__loader {
    height: var(--card-height);
    width: calc(var(--card-height) / 1.400266051);
    position: relative;
    display: block;
    overflow: hidden;
  }

  .hero__image {
    border-top-right-radius: var(--card-border-radius);
    border-top-left-radius: var(--card-border-radius);
    object-fit: cover;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hero__name {
    // border-bottom-right-radius: var(--card-border-radius);
    // border-bottom-left-radius: var(--card-border-radius);
    display: block;
    background-color: var(--theme-primary);
    overflow: hidden;
    font-size: 1.25em;
    z-index: 1;
    position: relative;
    // padding: 6% 8%;
    margin: auto 0 0;
    width: 100%;
    padding: 20px;
    transition: background-color 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

    @include breakpoint('large') {
      font-size: 1.675em;
    }
  }
}
