.page__hero {
  // background: repeat url(/images/site/binding_dark.jpg) 0 0;
  background: rgb(0, 9, 19);
  min-height: calc(100vh - var(--site-header-height));
  overflow-y: visible;
  overflow-x: hidden;
}

.page__hero .section__wrapper {
  position: relative;
  background: rgb(0, 9, 19);
  // background: repeat url(/images/site/binding_dark.jpg) 0 0;

  &:nth-child(1) {
    padding: 0.625rem 0 1.25rem;
    min-height: 65vh;

    @include breakpoint('medium') {
      padding: 30px 0px 75px;
      min-height: 92.5vh;
    }
  }

  // prettier-ignore
  &:nth-child(2) {
    background-image: url('/images/site/light-texture.jpg');
    background-size: auto;
    background-position: top center;
    background-repeat: repeat;
    background-color: #e4e0da;
    padding: 40px 0px 3.75rem;
    @include breakpoint('medium') { padding: 75px 0px 15rem; }
  }

  .background__image__wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80vh;
    max-height: 800px;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      left: 0px;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgb(0, 9, 19);
      opacity: 0.45;
    }
  }

  .background__image {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;

    &:before {
      content: '';
      position: absolute;
      left: 0px;
      bottom: -10%;
      width: 100%;
      height: 50%;
      background: linear-gradient(transparent, rgb(0, 9, 19) 70%);
    }

    &:after {
      content: '';
      position: absolute;
      left: 0px;
      bottom: -10%;
      width: 100%;
      height: 50%;
      background: linear-gradient(transparent, rgb(0, 9, 19) 70%);
    }
  }

  .background__image > img {
    display: block;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    object-fit: cover;
    object-position: center 20%;
  }

  .hero__image__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 31%;
  }

  .hero__image__inner {
    box-sizing: border-box;
    max-width: 1335px;
    padding: 0px 0.625rem;
    margin: 0px auto;

    @include breakpoint('medium') {
      padding: 0px 3.75rem;
    }
  }

  .hero__image {
    position: relative;
    width: 100%;
    padding-bottom: 59.01%;
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);
    overflow: hidden;
  }

  .hero__image > img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
  }

  .hero__intro__wrapper {
    position: relative;
    margin: 5.625rem auto 0px;
    max-width: 900px;

    @include breakpoint('medium') {
      margin: -2.625rem auto 0px;
    }
  }

  .hero__name__wrapper {
    position: relative;
    top: -5rem;
    margin-bottom: -5rem;
  }

  // prettier-ignore
  .hero__name {
    cursor: default;
    position: relative;
    z-index: 1;
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 0.153em;
    font-size: 2em;
    @include breakpoint('medium') { font-size: 4em; }
    @include breakpoint('xlarge') { font-size: 6em; }

    & > * {
      display: inline-block;
      position: relative;
    }

    & > :before,
    & > :after {
      content: "";
      position: absolute;
      top: calc(50% - (calc(0.2px + 0.05em) / 2));
      width: 2000px;
      height: calc(0.2px + 0.005em);
      background: #999;
    }

    & > :before {
      right: 100%;
      margin-right: calc(5px + 0.3em);
      background: linear-gradient(to right, #999 0%, rgba(0, 0, 0, 0) 100%);
    }

    & > :after {
      left: 100%;
      margin-left: calc(5px + 0.3em);
      background: linear-gradient(to left, #999 0%, rgba(0, 0, 0, 0) 100%);
    }
  }

  .hero__lore__wrapper {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1em;
    line-height: 1.45;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }

  .hero__lore {
    margin: 0;
  }

  .hero__abilities__wrapper {
    max-width: 1335px;
    margin: 0 auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.45;
    @include display-flex(column nowrap, center, center);

    @include breakpoint('medium') {
      flex-flow: row nowrap;
    }
  }

  .hero__ability {
    flex: 1;
    padding: 0 20px;
    max-width: 325px;
    margin: 0 auto;
    min-height: 120px;
    @include display-flex(column nowrap, center, center);
  }

  .hero__ability h3,
  .hero__ability p {
    margin: 0;
  }
}
