.page__hero {
  // background: repeat url(/images/site/binding_dark.jpg) 0 0;
  background: rgb(0, 9, 19);
  min-height: calc(100vh - var(--site-header-height));
  overflow-y: visible;
  overflow-x: hidden;
}

.page__hero .section__wrapper {
  // prettier-ignore
  &:nth-child(2) {
    background-image: url('/images/site/light-texture.jpg');
    background-size: auto;
    background-position: top center;
    background-repeat: repeat;
    background-color: #e4e0da;
    padding: 0 0 3rem;
    @include breakpoint('medium') { padding: 0 0 10rem; }
  }

  .hero__abilities__wrapper {
    max-width: 1335px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.45;
    @include display-flex(column nowrap, flex-start, center);

    @include breakpoint('medium') {
      flex-flow: row nowrap;
      top: -75px;
    }
  }

  .hero__ability {
    cursor: default;
    flex: 1;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 85vw;
    min-height: 120px;
    position: relative;
    @include display-flex(column nowrap, center, center);

    @include breakpoint('medium') {
      max-width: 325px;
    }
  }

  // prettier-ignore
  .hero__ability + .hero__ability {
    margin-top: 40px;
    @include breakpoint('medium') { margin-top: 0; }
  }

  .hero__ability h3 {
    @include display-flex(row nowrap, center, center);
  }

  .hero__ability .ability__name {
    font-size: 1em;
    letter-spacing: 0.065em;
  }

  .hero__ability .cost__wrapper {
    height: 40px;
    position: relative;
    top: -2px;
    margin: 0 0 0 10px;
    @include display-flex(row nowrap, center, center);
  }

  .hero__ability .cost__wrapper .cost__value {
    position: absolute;
    height: 40px;
    width: 40px;
    @include display-flex(row nowrap, center, center);
  }

  .hero__ability .cost__wrapper img {
    height: 100%;
    width: auto;
  }

  .hero__ability h3,
  .hero__ability p {
    margin: 0;
  }

  .hero__ability > div {
    margin: 10px auto 0;
  }

  .hero__ability img {
    margin: 0 auto;
    width: 150px;
    image-rendering: pixelated;
  }

  .hero__ability .hero__ability__image {
    position: absolute;
    top: 17px;
    border-radius: 50%;
    width: calc(150px - 30px);
  }
}
