.page__homepage {
  // background-blend-mode: soft-light;
  // background-color: #111;
  // background-image: url('/images/site/concrete-texture.jpg');
  // background-position: top center;
  // background-repeat: repeat;
  // background-size: auto;
  background: repeat url('/images/site/binding_dark.jpg') 0 0;
  min-height: calc(100vh - var(--site-header-height));
  padding: 0 0 100px;
  width: 100vw;
}

.page__homepage .carousel {
  &__slider-tray-wrapper {
    // width: 80%;
    // max-width: 42rem;
    margin: 0 auto;
    overflow: visible;
  }

  &__slider-tray {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    position: relative;
    margin: 0;
    list-style-type: none;
    transition: transform 800ms var(--animation-transition-cubic);
    will-change: transform;
    // width: 100% !important;
  }

  &__slide {
    position: relative;
    flex-shrink: 0;
    // width: 100% !important;
    padding: 0 2.3%;
  }

  &__dot-group {
    font-size: 0;
    text-align: center;
    padding: 20px 0;
  }

  &__dot {
    background: none;
    border: 0;
    cursor: pointer;
    height: 1.4rem;
    padding: 0;
    position: relative;
    width: 1.4rem;
  }

  &__dot:before,
  &__dot:after {
    content: '';
    display: block;
    position: absolute;
    height: 0.7rem;
    width: 0.7rem;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      180deg,
      var(--theme-primary),
      var(--theme-primary)
    );
  }

  &__dot:after {
    height: 0.5rem;
    width: 0.5rem;
    background: #2b282c;
  }

  &__dot--selected:after {
    background: var(--theme-primary);
  }
}

.page__homepage .heros-carousel {
  .carousel__slide {
    outline: none;
    overflow: visible;
    padding: 0;
  }

  // prettier-ignore
  .carousel__slide--visible {
    .carousel__inner-slide > div { opacity: 1; }
    .carousel__inner-slide > div > picture { transform: scale(1); }
  }

  .carousel__back-button,
  .carousel__next-button {
    align-items: center;
    background: none;
    border: none;
    color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-size: 4rem;
    height: 1em;
    justify-content: center;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    top: 45%;
    transition: opacity, transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 1em;
    z-index: 1;

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.45;
    }

    .btn-outer,
    .btn-inner {
      pointer-events: none;
    }

    .btn-outer {
      display: inline-block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.05s;

      & > svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
      }
    }

    .btn-inner {
      height: 0.25em;
      width: 0.25em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }

  .carousel__back-button {
    left: 7.3%;
    margin-left: 10px;
    transform: translate(-50%, -50%);

    // prettier-ignore
    .btn-inner svg { transform: rotate(180deg); }
  }

  .carousel__next-button {
    right: 7.3%;
    margin-right: 10px;
    transform: translate(50%, -50%);
  }

  .carousel__dot-group {
    text-align: center;
    padding: 20px 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    top: auto;
    bottom: -120px;
  }
}
