@import 'styles/utils/breakpoints';

// prettier-ignore
.component {
  animation-delay: 600ms;
  bottom: -2%;
  left: -15%;
  position: absolute;
  z-index: 0;

  & > div {
    --card-height: 400px;
    transform: rotate(-10deg) translate(10%, 0);
    
    @include breakpoint('small') {
      --card-height: 500px;
      transform: rotate(-10deg) translate(-2%, 2%);
    }
    
    @include breakpoint('medium') {
      --card-height: 550px;
      transform: rotate(-10deg) translate(0%, 2%);
    }

    @include breakpoint('large')  {
      --card-height: 580px;
      transform: rotate(-10deg) translate(0%, 2%);
    }

    @include breakpoint('xlarge')  {
      --card-height: 640px;
      transform: rotate(-10deg) translate(0%, 2%);
    }
  }
}
