@import 'styles/abstracts/breakpoints';
@import 'styles/mixins/breakpoint';
@import 'styles/mixins/flex';

.component {
  border: 0;
  background: #111;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  // height: calc(100vh - 80px);
  height: auto;
  margin-top: 80px;
  max-height: 0%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 500;
  transition: 200ms ease-in-out;

  a {
    text-decoration: none;
  }

  &.active {
    max-height: 100%;
  }

  @include breakpoint('medium') {
    display: none !important;
  }
}

.nav {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.item {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
  padding: 0 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  @include display-flex(row nowrap, center, flex-start);
}

.svg {
  margin: 0 10px 0 0;
}

.svg,
.svg > div {
  height: 20px;
  width: 40px;
  @include display-flex(column nowrap, center, center);
}

.svg {
  fill: white;
}

.play__button {
  background-color: var(--theme-primary);
  border-radius: 0;
  border: 0;
  cursor: pointer;
  font-size: 19px;
  font-weight: 800;
  height: 41px;
  letter-spacing: 0.15em;
  line-height: 41px;
  margin: 20px 0;
  outline: 0;
  padding: 0 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: background-color 300ms cubic-bezier(0.06, 0.81, 0, 0.98);
  vertical-align: middle;
  width: 100%;
  z-index: 0;

  & > div {
    height: 100%;
    width: 100%;
    @include display-flex(row nowrap, center, flex-start);
  }

  svg {
    background: white;
    border-radius: 50%;
    border: 1px solid;
  }

  & > div > span {
    top: -0.5px;
  }
}
