// prettier-ignore
.card__grid {
  --card-height: 200px;
  @include breakpoint('medium') { --card-height: 400px; }
}

.card__grid {
  color: white;
  outline: none;
  margin: 0 auto;
  padding: 20px 0;

  .card__grid-row {
    padding: 0 20px;
    box-sizing: border-box;
    @include display-flex(row nowrap, center, center);
  }

  .blank__card__item {
    height: var(--card-height);
    width: calc(var(--card-height) / 1.400266051);
    position: relative;
    margin: 0 auto 0;
    outline: 0;
  }

  .card__item__wrapper {
    position: relative;
    margin: 0 auto 0;
    outline: 0;
  }

  .card__item__wrapper .card {
    cursor: default;
    margin: 0 auto;
    pointer-events: none;
  }

  &[data-deckid] .card__item__wrapper .card {
    cursor: pointer;
    pointer-events: auto;
  }

  .card__item__wrapper .card {
    transition: opacity 200ms ease-in-out;
  }

  .card__item__wrapper .card:before,
  .card__item__wrapper .card:after {
    /* content: ''; */
    border-radius: 12px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    will-change: opacity;
  }

  .card__item__wrapper .card:before {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.625);
  }

  .card__item__wrapper .card:after {
    box-shadow: 0 0 10px 10px rgba(255, 255, 0, 0.825);
  }

  .card__item__wrapper .card:hover {
    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }
  }

  .card__item__wrapper.locked .card {
    cursor: not-allowed;
    opacity: 0.45;

    &:hover:before,
    &:hover:after {
      opacity: 0;
    }
  }

  .tooltip {
    align-items: center;
    background: #ddd;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    font-size: 27px;
    height: 40px;
    justify-content: center;
    pointer-events: auto;
    position: absolute;
    right: 10%;
    top: -4%;
    user-select: none;
    width: 40px;
    z-index: 2;
    transition: opacity, transform 200ms ease-in-out;
    will-change: opacity, transform;
    transform: scale(1);
    opacity: 1;
    outline: 0;

    @include breakpoint('medium') {
      transform: scale(0);
      opacity: 0;
    }
  }

  .tooltip img {
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.625);
    height: 40px;
    width: 40px;
  }

  .card__item__wrapper:hover,
  .card__item__wrapper:focus {
    z-index: 100;

    .tooltip {
      transform: scale(1);
      opacity: 1;
    }
  }

  .card__item__count {
    font-size: calc(var(--card-height) / 18.181818182);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
    bottom: calc(var(--card-height) / -25);
    z-index: 1;
    @include display-flex(column nowrap, center, center);

    // prettier-ignore
    .text__value {
      &[data-value='1'] { left: -1px; }
      &[data-value='2'] { left: -0.5px; }
    }
  }

  .card__item__count .card__item__count__border {
    background: var(--theme-primary);
    border-radius: 50%;
    width: calc(var(--card-height) / 10);
    height: calc(var(--card-height) / 10);
    @include display-flex(column nowrap, center, center);
  }

  // prettier-ignore
  &[class*='uk-animation-'] {
    // border-radius: var(--card-border-radius);
    // transition: opacity 200ms ease-in-out 2000ms;
    animation-delay: 1000ms;
    // &[data-is-loading='true'] { opacity: 0; }
    // &[data-is-loading='false'] { opacity: 1; }
  }
}

.grid__spinner {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 100%;
}
