.card {
  &.dev {
    --card-height: 600px;
  }

  border-radius: var(--card-border-radius);
  font-family: 'Carter One', sans-serif;
  height: var(--card-height);
  // width: max-content;
  width: calc(var(--card-height) / 1.400266051);
  margin: 0 auto;
  position: relative;
  // width: calc(var(--card-height) / 1.4);

  &:focus {
    outline: 0;
  }

  * {
    user-select: none;
  }

  .text__value {
    color: white;
    line-height: 1;
    position: relative;
    top: 0.5px;
    left: 0;
    z-index: 1;
  }

  .card__cost {
    font-size: calc(var(--card-height) / 15.384615385);
    position: absolute;
    top: calc(var(--card-height) / 50);
    left: calc(var(--card-height) / 50);
    height: calc(var(--card-height) / 9.090909091);
    width: calc(var(--card-height) / 9.090909091);
    z-index: 2;
    @include display-flex(column nowrap, center, center);

    .text__value {
      top: 1.5px;
    }
  }

  .card__name {
    position: absolute;
    bottom: calc(var(--card-height) / 3.333333333);
    left: calc(var(--card-height) / 7.002188184);
    font-size: calc(var(--card-height) / 30);
    width: calc(var(--card-height) / 2.333844834);
    text-align: center;
    z-index: 2;
    @include display-flex(column nowrap, center, center);

    .text__value {
      line-height: 0.85;
      top: -0.5px;
      white-space: nowrap;
    }
  }

  .card__text {
    position: absolute;
    font-size: calc(var(--card-height) / 26.666666667);
    bottom: 0;
    left: 0;
    height: calc(var(--card-height) / 3.076923077);
    text-align: center;
    // letter-spacing: calc(var(--card-height) / -833.333333333);
    letter-spacing: normal;
    width: 100%;
    padding: calc(var(--card-height) / 20)
      calc(var(--card-height) / 8.695652174)
      calc(var(--card-height) / 11.111111111);
    word-spacing: calc(var(--card-height) / 200);
    text-transform: none;
    z-index: 2;
    @include display-flex(column nowrap, center, center);

    // .text__value {
    //   color: rgba(0, 0, 0, 0.75);
    //   font-family: 'Arial', sans-serif;
    //   font-weight: 600;
    //   letter-spacing: calc(var(--card-height) / -833.333333333);
    //   top: 0;
    //   text-shadow: none;
    // }
  }

  .card__text strong {
    color: yellow;
  }

  .card__text .text__value {
    line-height: 1.15;
    margin: 0;
  }

  .card__text small {
    display: inline-block;
    line-height: 1.1;
  }

  .card__type {
    color: white;
    position: absolute;
    top: calc(var(--card-height) / 14.814814815);
    font-size: calc(var(--card-height) / 33.333333333);
    left: calc(var(--card-height) / 6.666666667);
    width: calc(var(--card-height) / 2.414409194);
    text-align: center;
    letter-spacing: calc(var(--card-height) / 1111.111111111);
    text-transform: uppercase;
    line-height: 1;
    z-index: 2;
    @include display-flex(column nowrap, center, center);
  }

  .card__type__image {
    height: calc(var(--card-height) / 10.25);
    z-index: 2;
    image-rendering: pixelated;

    &__icon__wrapper {
      position: absolute;
      left: calc(var(--card-height) / 350);
      top: calc(var(--card-height) / -600);
      height: calc(var(--card-height) / 5.55556);
      width: calc(var(--card-height) / 5.55556);
      z-index: 2;
      @include display-flex(column nowrap, center, center);
    }

    &__wrapper {
      position: absolute;
      bottom: calc(var(--card-height) / 4.25);
      left: calc(var(--card-height) / -30);
      z-index: 2;
      @include display-flex(column nowrap, center, center);
    }

    &__badge {
      width: calc(var(--card-height) / 5.55556);
      position: relative;
      image-rendering: pixelated;
      top: 1px;
    }
  }

  .card__subtype__image {
    height: calc(var(--card-height) / 10.25);
    z-index: 2;
    image-rendering: pixelated;

    &__icon__wrapper {
      position: absolute;
      left: calc(var(--card-height) / 350);
      top: calc(var(--card-height) / -600);
      height: calc(var(--card-height) / 5.55556);
      width: calc(var(--card-height) / 5.55556);
      z-index: 2;
      @include display-flex(column nowrap, center, center);
    }

    &__wrapper {
      position: absolute;
      bottom: calc(var(--card-height) / 4.25);
      right: calc(var(--card-height) / -30);
      z-index: 2;
      @include display-flex(column nowrap, center, center);
    }

    &__badge {
      width: calc(var(--card-height) / 5.55556);
      position: relative;
      image-rendering: pixelated;
      top: 1px;
    }
  }

  .card__attack {
    font-size: calc(var(--card-height) / 12.5);
    position: absolute;
    bottom: calc(var(--card-height) / -50);
    left: calc(var(--card-height) / -26.666666667);
    height: calc(var(--card-height) / 5.714285714);
    width: calc(var(--card-height) / 5.714285714);
    z-index: 2;
    @include display-flex(column nowrap, center, center);

    .text__value {
      left: calc(var(--card-height) / 200);
      top: calc(var(--card-height) / 53.333333333);
    }

    &__badge {
      height: calc(var(--card-height) / 5.714285714);
      position: absolute;
    }

    // prettier-ignore
    &.card__attack__elite {
      left: calc(var(--card-height) / -56.666666667);
      height: calc(var(--card-height) / 4.896551724);
      width: calc(var(--card-height) / 6.639004149);
      // .text__value { left: -3.5px; }
    }

    &__badge__elite {
      height: calc(var(--card-height) / 4.896551724);
      position: absolute;
      image-rendering: pixelated;
    }
  }

  // various attack placements
  // ========================================================================
  // prettier-ignore
  .card__attack .text__value {
    &[data-value='3'] {
      left: calc(var(--card-height)/120);
      top: calc(var(--card-height)/54.33333);
    }
  }

  // prettier-ignore
  .card__attack.card__attack__elite .text__value {
    &[data-value='1'] { left: calc(var(--card-height) / 500); }
    &[data-value='3'] { left: calc(var(--card-height) / 250); }
    &[data-value='4'] { left: calc(var(--card-height) / 800); }
    &[data-value='5'] { left: calc(var(--card-height) / 260); }
    &[data-value='6'] { left: calc(var(--card-height) / 260); }
    &[data-value='8'] { left: calc(var(--card-height) / 260); }
  }

  .card__health {
    font-size: calc(var(--card-height) / 12.5);
    position: absolute;
    bottom: calc(var(--card-height) / -50);
    right: calc(var(--card-height) / -30);
    height: calc(var(--card-height) / 6.896551724);
    width: calc(var(--card-height) / 6.896551724);
    z-index: 2;
    @include display-flex(column nowrap, center, center);

    .text__value {
      top: 0.5px;
      left: -0.5px;
    }

    &__badge {
      height: calc(var(--card-height) / 6.896551724);
      position: absolute;
    }

    // prettier-ignore
    &.card__health__elite {
      right: calc(var(--card-height) / -24);
      height: calc(var(--card-height) / 5.896551724);
      width: calc(var(--card-height) / 6.368159204);
      .text__value { left: -2px; }
    }

    &__badge__elite {
      height: calc(var(--card-height) / 5.896551724);
      position: absolute;
      image-rendering: pixelated;
    }
  }

  // various health placements
  // ========================================================================
  // prettier-ignore
  .card__health.card__health__elite .text__value {
    &[data-value='7'] {
      left: calc(var(--card-height) / -100);
    }
  }

  // prettier-ignore
  .card__rarity__gem {
    position: absolute;
    height: calc(var(--card-height) / 9.090909091);
    top: calc(var(--card-height) / -30.363636364);
    left: calc(var(--card-height) / 3.30806452);
    image-rendering: pixelated;
    z-index: 2;

    &[data-rarity='%RARITY_COMMON%'] { top: calc(var(--card-height) / -26.363636364); }
    &[data-rarity='%RARITY_SUPERIOR%'] { top: calc(var(--card-height) / -26.363636364); }
    &[data-rarity='%RARITY_MYTHIC%'] { top: calc(var(--card-height) / -24.363636364); }
  }

  .card__image__wrapper {
    background-color: #191919;
    border-radius: var(--card-border-radius);
    position: absolute;
    width: calc(var(--card-height) / 1.628293223);
    height: calc(var(--card-height) / 1.739130435);
    margin-top: calc(var(--card-height) / 11.111111111);
    margin-right: calc(var(--card-height) / 22.222222222);
    margin-left: calc(var(--card-height) / 20);
    margin-bottom: 0;
    // margin: calc(var(--card-height) / 11.111111111)
    //   calc(var(--card-height) / 22.222222222) 0 calc(var(--card-height) / 20);
    overflow: hidden;
    z-index: 0;
  }

  &.--is-item .card__image__wrapper,
  &.--is-spell .card__image__wrapper {
    width: calc(var(--card-height) / 1.505706628);
    height: calc(var(--card-height) / 1.666666667);
    margin-top: calc(var(--card-height) / 13.333333333);
    margin-right: calc(var(--card-height) / 40);
    margin-left: calc(var(--card-height) / 40);
    margin-bottom: 0;
  }

  .card__image__wrapper .card__image {
    width: 100%;
    position: relative;
    image-rendering: pixelated;

    animation-name: img-fade;
    animation-duration: 0.5s;
    // animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-timing-function: linear;

    @keyframes img-fade {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  .card__image__wrapper .loader {
    width: 100%;
    height: 100%;
    @include animation-swipe-card-image;
  }

  .card__base__image {
    border-radius: var(--card-border-radius);
    height: var(--card-height);
    // width: calc(var(--card-height) / 1.4);
    image-rendering: pixelated;
    position: relative;
    z-index: 1;
  }

  .card__mechanics__wrapper {
    position: absolute;
    top: auto;
    bottom: -6px;
    left: 0;
    right: 0;
    width: 65%;
    z-index: 2;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .card__mechanics__wrapper .card__mechanic {
    background: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    // box-sizing: content-box;
    position: relative;

    & + .card__mechanic {
      margin-left: 10px;
    }
  }

  .card__mechanics__wrapper .card__mechanic img {
    filter: invert(1);
    position: absolute;
    height: 60%;
  }
}

// prettier-ignore
.card {
  .card__health[data-value='2'] .text__value { left: -1px; }
  .card__health[data-value='3'] .text__value { left: -1px; }
  .card__health[data-value='5'] .text__value { top: 1px; left: -1px; }
  .card__health[data-value='7'] .text__value { left: -1px; }

  // elite values
  .card__health__elite.card__health[data-value='14'] .text__value { left: -1px; }
}
