.card__collection__wrapper {
  background-color: #191919;
  user-select: none;
  width: 100%;
  height: calc(100vh - 80px);
  padding: 0 20px 20px;

  // .footer {
  //   position: fixed;
  //   left: 0;
  //   right: 0;
  //   z-index: 2;
  //   height: 80px;
  //   width: calc(100vw);
  //   transition: width 150ms var(--animation-transition-cubic);
  // }
}

.grid__wrapper {
  border-radius: var(--site-border-radius) 0 0 0;
  background: #191919;
  position: fixed;
  // top: 80px;
  left: 0;
  padding: 20px;
  max-width: 100vw;
  right: 0;
  // bottom: 80px;
  overflow-y: scroll;
  width: 100%;
  transition: width 150ms var(--animation-transition-cubic);
  // height: 100%;
  height: calc(100% - calc(80px + 60px));
  margin: 0 auto 0 0;

  @include breakpoint('medium') {
    max-width: calc(100vw - 300px);
  }

  // background-image: url('/images/site/light-texture.jpg');
  // background-size: auto;
  // background-position: top center;
  // background-repeat: repeat;
  // background-color: #e4e0da;

  &:before {
    border-radius: var(--site-border-radius) 0 0 0;
    content: '';
    position: fixed;
    width: 100%;
    height: 30px;
    top: 80px;
    left: 0;
    z-index: 200;
    pointer-events: none;
    background: linear-gradient(
      to bottom,
      rgba(25, 25, 25, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );

    @include breakpoint('medium') {
      max-width: calc(100vw - 300px);
    }
  }
}

.card__collection__tabs {
  background-color: #333;
  position: fixed;
  height: 60px;
  overflow-x: auto;
  left: 0;
  right: 0;
  margin: 0;

  @include breakpoint('medium') {
    margin: 0 300px 0 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.collection__sidebar {
  background: #1e1e1e;
  position: fixed;
  right: 0;
  top: 80px;
  width: 300px;
  z-index: 3;
  bottom: 60px;
  transform: translateX(100%);
  transition: transform 600ms var(--animation-transition-cubic);

  &.collection__sidebar--active {
    transform: translateX(0);
    @include breakpoint('medium') {
      transform: translateX(0) !important;
    }
  }

  @include breakpoint('medium') {
    bottom: 0;
    height: 100%;
    transform: translateX(0) !important;
  }

  .background {
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    user-select: none;
  }
}

.deck__collection {
  height: 100%;
  overflow-y: auto;
  padding: 10px 20px 20px;
  user-select: none;

  @include breakpoint('medium') {
    padding: 10px 20px 60px;
  }

  & > h2 {
    text-align: center;
  }

  .deck__slot {
    color: rgba(255, 255, 255, 0.625);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    min-height: 60px;
    margin: 0;
    padding: 0;
    font-size: 0.875em;
    text-decoration: none;

    &:active,
    &:focus {
      outline: 0;
      text-decoration: none;
    }

    & + .deck__slot {
      margin-top: 20px;
    }

    &:last-of-type {
      margin-bottom: 40px;
    }

    .plus {
      font-size: 1.15em;
      display: none;
      text-transform: uppercase;
    }

    .text {
      background: rgba(255, 255, 255, 0.015);
      border: 1px dashed rgba(255, 255, 255, 0.25);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 60px;
      text-decoration: none;
    }

    .class__badge {
      height: 60px;
      &--wrapper {
        margin-right: 20px;
      }
    }

    /* prettier-ignore */
    &:hover {
      .text { border: 1px dashed rgba(255, 255, 255, 0.45); }
      .plus { display: block; }
      .index { display: none; }
    }
  }
}

.collection__sidebar > .deck__sidebar {
  height: 100%;
  overflow-y: auto;
  padding: 10px 10px 60px;
  user-select: none;

  & > h2 {
    text-align: center;
  }

  input[type='text'] {
    width: 100%;
    text-align: center;
    font-size: 1em;
    top: 0;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    background: none;
    outline: 0;
    padding: 5px 20px 10px;

    &:focus {
      border-style: dashed;
    }
  }
}

.grid__wrapper.choose__class__wrapper {
  border-radius: 0;
  height: calc(100% - 80px);
  margin: 0 auto 0 0;
  overflow-x: hidden;
  overflow-y: auto;

  &:before {
    content: none;
  }

  @include breakpoint('medium') {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.choose__class {
  display: grid;
  margin: 0 auto 60px;
  padding: 20px 0;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr));

  @include breakpoint('medium') {
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  }

  .class__item {
    cursor: pointer;
    position: relative;
    text-align: center;
    height: 150px;
    width: 100%;
    margin: 0 auto;
    @include display-flex(column nowrap, center, center);

    @include breakpoint('medium') {
      height: 250px;
      width: 250px;
    }
  }

  /* prettier-ignore */
  .class__item {
    animation-duration: 400ms;
    &:nth-child(1) { animation-delay: 0ms; }
    &:nth-child(2) { animation-delay: 100ms; }
    &:nth-child(3) { animation-delay: 200ms; }
    &:nth-child(4) { animation-delay: 300ms; }
    &:nth-child(5) { animation-delay: 400ms; }
    &:nth-child(6) { animation-delay: 500ms; }
    &:nth-child(7) { animation-delay: 600ms; }
    &:nth-child(8) { animation-delay: 700ms; }
    &:nth-child(9) { animation-delay: 800ms; }
  }

  .class__item .class__name {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.875em;
    opacity: 1;
    top: 0;
    left: 0;
    transition: opacity, transform 150ms ease-in-out;
    will-change: opacity, transform;
    margin: 0 auto;
    border-radius: 50%;
    transform: scale(1);
    z-index: 2;

    @include breakpoint('medium') {
      font-size: 1em;
      height: 200px;
      opacity: 0;
      transform: scale(0.5);
    }

    h2 {
      margin: 0;
      position: relative;
      z-index: 1;
    }

    &:after {
      background: rgba(0, 0, 0, 0.45);
      /* content: ''; */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
      will-change: opacity;
      border-radius: 50%;
    }
  }

  .class__item .avatar {
    height: 200px;
    width: 200px;
    max-width: 100%;
    image-rendering: pixelated;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 auto;
  }

  .class__item .class__badge--wrapper {
    width: 75%;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transform: scale(1);
    transition: opacity, transform 150ms ease-in-out;
    will-change: opacity, transform;

    @include breakpoint('medium') {
      width: 100%;
    }

    .class__badge {
      width: 100%;
      image-rendering: pixelated;
    }
  }

  .class__item:hover {
    .class__name {
      opacity: 1;
      transform: scale(1);
    }

    .class__badge--wrapper {
      opacity: 0.625;
      transform: scale(0.925);
    }
  }
}
