[data-file='CardModal'] [data-id='tooltip'] {
  $bg: #49b6fe;
  background: $bg;
  color: mix(black, $bg, 70%);
  padding: 7px 5px 8px;
  width: 240px;
  text-align: center;

  &.place-top:after {
    border-top-color: $bg;
  }

  &.place-right:after {
    border-right-color: $bg;
  }

  &.show {
    opacity: 1;
    text-align: center;
  }
}
