.card__developer {
  width: 100vw;
  min-height: 100vh;

  &.minion__developer .right {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  // prettier-ignore
  button {
    appearance: none;
    background: #999;
    &[data-active='true'] { background: #fff; }
    border: 0;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
  }
}

.card__developer .flex {
  height: 100%;
  @include display-flex(row-reverse nowrap, center, space-between);
}

.card__developer .left {
  padding: 40px;
  width: 35vw;
  min-height: 80vh;
  max-height: 100vh;
  overflow-y: auto;
  @include display-flex(column nowrap, center, flex-start);
}

.card__developer .right {
  width: 65vw;
  min-height: 80vh;
  @include display-flex(column nowrap, center, center);
}

.card__developer .margin {
  margin: 20px 0;
  width: 100%;

  &-small {
    margin: 10px 0;
  }
}

.card__developer .label {
  color: white;
  cursor: default;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1;
  margin: 0 0 6px;
  user-select: none;
}

.card__developer .selector {
  width: 100%;
}
