/* prettier-ignore */
:root {
  /* ================================ */
  /* globals */
  --site-global-spacing:        15px;
  --site-global-spacing-small:  calc(var(--site-global-spacing) * 2);
  --site-global-spacing-medium: calc(var(--site-global-spacing-small) + 10px);
  --site-border-radius:         20px;

  /* ================================ */
  /* header */
  --site-header-height: 80px;

  /* ================================ */
  /* site theme color vars */
  --theme-primary:        var(--color-rarity-MYTHIC);
  --theme-primary-text: #065174;
}
