@import 'styles/utils/breakpoints';
@import 'styles/mixins/animations';
@import 'styles/mixins/flex';
@import 'styles/mixins/position';

.component {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  min-height: 25em;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &:after {
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.45);
    @include position-absolute(4%, 10%, 4%, 10%, 1);

    @include breakpoint('medium') {
      left: 4%;
      opacity: 0;
      right: 4%;
      transform: scale(0.1);
      transition: opacity 550ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 600ms,
        transform 350ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 800ms;
    }
  }

  @include breakpoint('medium') {
    min-height: 40em;
    opacity: 0.45;
    transition: opacity 0.4s linear 0.1s;

    &:before {
      padding-top: 55.45528%;
    }
  }
}

.image__wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  @include breakpoint('medium') {
    filter: blur(10px);
    transform: scale(1.1);
    transition: filter 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 400ms,
      transform 350ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 800ms;
  }
}

.loader,
.image,
.image__placeholder {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: top center;
  top: 0;
  left: 0;
  pointer-events: none;
}

.image__placeholder {
  object-position: center center;
}

.loader {
  @include animation-swipe;
}
