@import 'styles/utils/breakpoints';

// prettier-ignore
.name {
  font-size: 1.15em;
  @include breakpoint('xsmall') { font-size: 1.465em; }
  @include breakpoint('medium') { font-size: 1.875em; }
  margin: 0 0 0.625em;
}

.inactive__label {
  color: #fff649;
  display: block;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin: 0 0 0.25em;
  text-transform: uppercase;
}
